@using Taraweb.Models.TarawebM1
<section class="mt-5">
    <div class="container">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
               @foreach(var b in Banners) { 
                <div class="carousel-item @(checkfirst==0?"active":"")">
                    <img src="@b.ImageUrl" class="d-block w-100" alt="@b.Name">
                </div>
                       checkfirst++;
                   }
                
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</section>
@code {
    protected int checkfirst { get; set; } = 0;

    [Inject]
    TarawebM1Service sv { get; set; }

    protected IEnumerable<Banner> Banners { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Banners = await sv.GetBannerForWeb();
    }
}

