@page "/web/{lang}/news-events/{page:int?}"
@layout Taraweb.Shared.M1Frontend.M1Layout
@inject TarawebM1Service sv
<h3>News & Events</h3>

<div class="row">
    <div class="col-lg-12">
        <NewsEventsComponent size="size" catid="1" lang="@lang"></NewsEventsComponent>

    </div>
</div>

    @code {
        [Parameter]
        public string lang { get; set; }
        [Parameter]
        public int? page { get; set; }

        public int size { get; set; } = 1000;

      

        
       

    }

