@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager
@inject DialogService DialogService
@inject ContextMenuService ContextMenuService
@inject TooltipService TooltipService
@inject NotificationService NotificationService
@inject ILocalStorageService localStorage
@implements IDisposable;

<RadzenDialog />
<RadzenNotification />
<RadzenTooltip />
<RadzenContextMenu />

<PageTitle>THAI TARA @LanguageBar</PageTitle>
<CascadingValue Value="this">
    <NavMenu Lang="@LanguageBar" />


    <main class="page lanidng-page mb-5">
        <section class="block-intro" style="padding-top: 0px;">
            <div class="container">

                <article class="px-0">
                    @Body
                </article>
            </div>
        </section>
    </main>
    <footer class="footer mt-auto py-3">

        <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
        <ul class="list-inline">

            <li class="list-inline-item"><a href="#">Home</a></li>
            <li class="list-inline-item"><a href="#">About Us</a></li>
            <li class="list-inline-item"><a href="#">Directory</a></li>
            <li class="list-inline-item"><a href="#">News & Events</a></li>
            <li class="list-inline-item"><a href="#">Seminar</a></li>
            <li class="list-inline-item"><a href="#">How to Join</a></li>
            <li class="list-inline-item"><a href="#">Contact Us</a></li>
        </ul>
        <p class="copyright">Company Name © 2018</p>

    </footer>
</CascadingValue>

@code{
    public string LanguageBar { get; set; }

    protected override async void OnAfterRender(bool firstRender)
    {
        var lang = await localStorage.GetItemAsync<string>("lang");
        LanguageBar = lang;
        StateHasChanged();
    }

    public void Dispose()
    {
        Console.WriteLine("Disconnected");
    }

}
